#room {
  .heading {
    text-transform: capitalize;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .text-wrapper {
    text-align: center;
  }

  .container {
    width: 900px;
    height: 600px;
    background-color: grey;
  }

  .book_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    a {
      text-decoration: none;
      display: block;
      padding: 10px 20px;
      background-color: #ff6f61;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      border-radius: 5px;
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: #e65a50;
        transform: scale(1.05);
      }

      h3 {
        margin: 0;
      }
    }
  }

  .img-container {
    width: 800px;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-wrapper {
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-wrapper img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .cta-wrapper {
    margin-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    a {
      display: inline-block;
      padding: 1rem 2rem;
      background-color: black;
      color: white;
      margin-right: 1rem;
    }

    button {
      background-color: red;
      outline: none;
      border: none;
      padding: 1rem 2rem;
      color: white;
      font-weight: 90;
    }
  }
}
